<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <a class="navbar-brand  " routerLink="/homepage">Home</a> &nbsp; | &nbsp;
  <a class="navbar-brand  "  routerLink="/Loginpage" >Login</a>  &nbsp; | &nbsp; -->
 
  <a class="navbar-brand" routerLink="/welcomepage">Welcome</a>
  <a class="navbar-brand" [routerLink]="['welcomepage']" [queryParams]="{firstname:'mayuri', lastname:'darekar'}">Welcome</a>
  <a class="navbar-brand" [routerLink]="['welcomepage']" [state]="{firstname:'mayuri', lastname:'darekar'}">Welcome</a>
  <ul>
    <li><a routerLink="/welcomepage/mens" >mens</a></li>
    <li><a routerLink="/welcomepage/mens/shopcategary" [state]="{watch:'mi band ', cloths: 'max'}" >shopcategory</a></li>
    <li><a routerLink="/welcomepage/mens/shopcategary">shopcategory</a></li>
  
   </ul>
</nav>
<a routerLink="/shopcategary">shopcategary</a>
<a routerLink="/dashboard">Dashboard</a><br>
<a routerLink="/cart">Cart</a><br><br>
<a routerLink="/rxjs">RxjsExample</a><br>
<a routerLink="/rxjs-subject">RxjsSubject</a>
<router-outlet></router-outlet>
